name: Workout Log Web Service CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      output_version: ${{ steps.project_version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Get project version
        id: project_version
        run: echo version=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) >> "$GITHUB_OUTPUT"

      - name: Maven build
        run: mvn package -Dmaven.test.skip

  push-image:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Printing version
        env:
          PROJECT_VERSION: ${{ needs.build.outputs.output_version }}
        run: echo ${{secrets.DOCKERHUB_USER}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          PROJECT_VERSION: ${{ needs.build.outputs.output_version }}
        with:
          push: true
          tags: ${{secrets.DOCKERHUB_USER}}/workout-log-web-service:$PROJECT_VERSION
